// Big button
.big-button {
	background: lighten($red, 8%);
	border: none;
	border-bottom: 0.6rem solid darken($red, 15%);
	color: #fff;
	margin-bottom: $s-size;
	font-weight: bold;
	font-size: $l-size;
	padding: 2.4rem;
	width: 100%;
}

.big-button:disabled {
	opacity: 0.5;
}

//Button
.button {
	background: lighten($red, 8%);
	border: none;
	border-bottom: 0.3rem solid darken($red, 15%);
	color: #fff;
	font-weight: 500;
	padding: $s-size;
	display: flex;
	align-items: center;
}

.button i {
	margin-right: $s-size - 0.5rem;
}

// bem
.button--link {
	background: none;
	border: none;
	// color: $off-white;
	padding: 0;
}

@media (min-width: $desktop-breakpoint) {
	.big-button {
		margin-bottom: $xl-size;
	}
}
