.conjugation__direction {
	display: flex;
	justify-content: space-around;
	margin-top: $l-size;
	align-items: center;
	padding: 0 $l-size;
}

.conjugation__direction span {
	font-size: $l-size;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 6px;
	padding: $l-size;
}

.conjugation__direction b {
	font-size: $l-size + $l-size;
	font-weight: normal;
}

.conjugation_form {
	display: flex;
	justify-content: space-between;
}

.conjugation_form span {
	display: inline-block;
	width: 100px;
}

.conjugation_form label {
	background: #fff;
	display: inline-block;
	width: 100%;
}

.conjugation_form input {
	width: 100px;
	position: absolute;
	display: inline-block;
}

.conjugation_form input:checked + label {
	background: red;
}
