.conjugation__direction {
	display: flex;
	justify-content: space-around;
	margin-top: $l-size;
	align-items: center;
	padding: $m-size $l-size $m-size $l-size;
	background: rgba(255, 255, 255, 1);
	border-radius: 6px;
}

.conjugation__direction span {
	position: relative;
	font-size: $l-size;
	color: #6ed883;
	width: 50%;
	text-align: center;
}

.conjugation__direction small {
	float: left;
	width: 100%;
	color: #333;
	font-size: 1.8rem;
	text-align: center;
}

.conjugation__direction b {
	font-size: $l-size;
	font-weight: normal;
}

.conjugation_form {
	display: flex;
	justify-content: space-between;
}

.conjugation_form span {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 3px;
}

.conjugation_form label {
	background: rgba(255, 255, 255, 0.4);
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.conjugation_form input[type='checkbox'] {
	width: 100%;
	height: 30px;
	position: absolute;
	opacity: 0;
	display: inline-block;
}

.conjugation_form input:checked + label {
	background: rgba(255, 255, 255, 1);
	color: #6ed883;
}

.conjugation__input {
	margin-top: 35px;
	width: 100%;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	border: none;
	-webkit-appearance: none;
	height: 40px;
}
