.conjugation__direction {
	display: flex;
	justify-content: space-around;
	margin-top: $l-size;
	align-items: center;
	padding: 0 $l-size;
}

.conjugation__direction span {
	font-size: $l-size;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 6px;
	padding: $l-size;
}

.conjugation__direction b {
	font-size: $l-size + $l-size;
	font-weight: normal;
}

.conjugation_form {
	display: flex;
	justify-content: space-between;
}

.conjugation_form span {
	overflow: hidden;
	display: inline-block;
	width: 100px;
	height: 30px;
	border-radius: 3px;
}

.conjugation_form label {
	background: rgba(255, 255, 255, 0.4);
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.conjugation_form input[type='checkbox'] {
	width: 100%;
	height: 30px;
	position: absolute;
	opacity: 0;
	display: inline-block;
}

.conjugation_form input:checked + label {
	background: rgba(255, 255, 255, 1);
}
