.header {
	background-color: #fff;
	color: #fff;
	// padding: $m-size 0;
	position: fixed;
	display: inline-block;
	width: 100%;
	margin-bottom: 100px;
	top: 0;
	z-index: 3;
}

.header div {
	position: absolute;
	width: 100%;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0;
	position: relative;
}

.header__title {
	margin: 0;
	background: -webkit-linear-gradient(#38ef7d, #11998e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.header__list {
	display: flex;
	list-style: none;
	padding: 0;
}

.header__item {
	display: inline;
}

.header__link {
	display: flex;
	align-items: center;
	padding: 0 10px;
	color: lighten($mainColor, 30%);
	text-decoration: none;
	font-weight: 100;
	font-size: $m-size + 0.4rem;
	color: #6ed883;
	i {
		margin-right: 5px;
		font-size: $m-size + 0.2rem;
	}
}

.header__link--home {
	color: #fff;
	text-decoration: none;
}

.header__link--active {
	color: #6ed883;
}
