.header {
	background-color: $light-blue;
	color: #fff;
	padding: $m-size 0;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.header__title {
	margin: 0;
}

.header__list {
	list-style: none;
	padding: 0;
}

.header__item {
	display: inline;
}

.header__link {
	padding: 0 10px;
	color: #fff;
	text-decoration: none;
	font-weight: 100;
}

.header__link--active {
	font-weight: bold;
}
