.header {
	background-color: lighten($red, 8%);
	color: #fff;
	// padding: $m-size 0;
	position: fixed;
	display: inline-block;
	width: 100%;
	margin-bottom: 100px;
	top: 0;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0;
}

.header__title {
	margin: 0;
}

.header__list {
	list-style: none;
	padding: 0;
}

.header__item {
	display: inline;
}

.header__link {
	padding: 0 10px;
	color: lighten($red, 30%);
	text-decoration: none;
	font-weight: 100;
	font-size: $m-size + 0.4rem;
}

.header__link--home {
	color: #fff;
	text-decoration: none;
}

.header__link--active {
	color: lighten($red, 45%);
}
