.pronunciation__drillWrapper {
	margin-top: $l-size;
	display: flex;
	justify-content: space-around;
}

.button--pronunciation {
	border-radius: 3px;
	// font-weight: bold;
}

.pronunciation__current {
	font-size: $l-size + $l-size + $l-size + $m-size;
	text-align: center;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

.pronunciation__current--smaller {
	font-size: $l-size + $l-size + $m-size;
}

.pronunciation__current span {
	background: #fff;
	border-radius: 10px;
	padding: $s-size;
	top: $l-size + $l-size + $l-size;
	position: relative;
}

.pronunciation__ttl {
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

.pronunciation__txt {
	text-align: center;
}
