.searchBar__container {
	display: flex;
	height: 40px;
	border-radius: 2px;
	overflow: hidden;
}

.searchBar__bar {
	flex-grow: 1;
	border: none;
	border-bottom: 3px solid lighten($red, 32%);
	text-indent: 10px;
}

.searchBar__button {
	padding: 0 $l-size;
}
