.searchBar__container {
	display: flex;
	height: 40px;
	border-radius: 2px;
	overflow: hidden;
}

.searchBar__bar {
	flex-grow: 1;
	border: none;
	text-indent: 10px;
	background: rgba(255, 255, 255, 0.5);
}

.searchBar__button {
	padding: 0 $m-size;
}

.searchBar__button p {
	margin: 0;
	align-items: center;
	display: flex;
}

.searchBar__button span,
.searchBar__button i {
	background: -webkit-linear-gradient(#38ef7d, #11998e);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
