.verbItem__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.verbItem__header h2 {
	margin: 0;
}

.VerbItem__button {
	padding: $s-size $m-size;
}

.VerbItem__example {
	padding: $s-size 0;
	justify-content: space-between;
	display: flex;
	border-bottom: 1px dotted lighten($red, 35%);
	transition: 0.2s all ease;
	&:hover {
		background: lighten($red, 35%);
		padding: $s-size;
	}
}

.VerbItem__example--jp b {
	color: darken($red, 12%);
	font-weight: 500;
}

.VerbItem__example--en {
	text-align: right;
}

.VerbItem__example span:last-child {
}
