.verbItem__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.verbItem__header h2 {
	margin: 0;
}

.VerbItem__button {
	padding: $s-size $m-size;
}

.VerbItem__example {
	margin: $m-size 0;
	justify-content: space-between;
	display: flex;
}

.VerbItem__example--jp b {
	color: darken($red, 12%);
	font-weight: 500;
}

.VerbItem__example--en {
	text-align: right;
}

.VerbItem__example span:last-child {
}
