.videoPlayer {
	width: 100%;
}

@media only screen and (min-width: 600px) {
	.videoPlayer {
		height: 347px;
	}
}

.videoPlayer__header {
	display: flex;
	justify-content: space-between;
}

.videoPlayer__navLink {
	align-items: center;
	display: flex;
	text-decoration: none;
}
