.WordPractice__wrapper {
	text-align: center;
}

.WordPractice__input {
	border: none;
	-webkit-appearance: none;
	border-bottom: 1px solid lighten($red, 30%);
	background: transparent;
	margin: 0 $s-size;
}
