.WordPractice__wrapper {
	text-align: center;
	padding: $s-size;
	background: #fff;
	border-radius: 5px;
}

.WordPractice__input {
	border: none;
	-webkit-appearance: none;
	border-bottom: 1px solid lighten($mainColor, 30%);
	background: transparent;
	margin: 0 $s-size;
}
