.WordList__list {
	list-style: none;
	padding: 0;
}

.WordList__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: $s-size 0;
}

.WordList__link {
	width: 100%;
	display: inline-block;
	text-decoration: none;
	color: black;
	margin: 5px 0;
	&:hover {
		text-decoration: underline;
	}
}

.WordList__button {
	padding: $s-size - 0.5rem $m-size;
	border-radius: 2px;
}
