.WordItem__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.WordItem__header h2 {
	margin: 0;
}

.WordItem__button {
	padding: $s-size - 0.4rem $m-size;
}

.WordItem__button--listed {
	background: darken($red, 1%);
	border-bottom-color: darken($red, 16%);
}

.WordItem__example {
	padding: $s-size 0;
	justify-content: space-between;
	display: flex;
	border-bottom: 1px dotted lighten($red, 35%);
	transition: 0.2s all ease;
	&:hover {
		background: lighten($red, 35%);
		padding: $s-size;
	}
}

.WordItem__meanings {
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		b {
			margin: 0 10px;
		}
	}
	span {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

.WordItem__example--jp b {
	color: darken($red, 12%);
	font-weight: 500;
}

.WordItem__example--en {
	text-align: right;
}

.WordItem__example span:last-child {
}

.WordItem__link {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: underline;
	}
}
