.WordItem__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.WordItem__header h2 {
	margin: 0;
}

.WordItem__header span {
	color: lighten($red, 20%);
}

.WordItem__button {
	border-radius: 2px;
	padding: $s-size - 0.4rem $m-size;
}

.WordItem__button--listed {
	background: darken($red, 1%);
	border-bottom-color: darken($red, 16%);
}

.WordItem__example {
	padding: $s-size 0;
	justify-content: space-between;
	display: flex;
	border-bottom: 1px dotted lighten($red, 30%);
	transition: 0.2s all ease;
	&:hover {
		background: lighten($red, 35%);
		padding: $s-size;
	}
}

.WordItem__meanings {
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		margin: 5px 0;
		span {
			display: inline-block;
			margin-left: 5px;
		}
		b {
			margin: 0 10px;
		}
	}
	div {
		display: inline-block;
		&:first-child {
			span {
				margin-left: 0;
			}
		}
	}
	span {
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

.WordItem__example--original {
	color: lighten(#000, 20%);
}

.WordItem__example--original b {
	color: darken($red, 18%);
	font-weight: 500;
}

.WordItem__example--translated {
	text-align: right;
}

.WordItem__example span:last-child {
}

.WordItem__link {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: underline;
	}
}
