.exampleList {
	padding: 0;
}

.exampleList__example {
	padding: $s-size 0;
	justify-content: space-between;
	display: flex;
	border-bottom: 1px dotted lighten($mainColor, 30%);
	transition: 0.2s all ease;
	&:hover {
		background: rgba(255, 255, 255, 0.4);
		padding: $s-size;
	}
}

.exampleList__example__word {
	margin-right: 5px;
	display: inline-block;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.exampleList__example__word--highlighted {
	color: rgba(255, 255, 255, 0.9);
	&:hover {
		text-decoration: none;
		cursor: default;
	}
}

.exampleList__example__kanji {
	margin-right: 2px;
	display: inline-block;
	&:hover {
		text-decoration: underline;
		cursor: pointer;
	}
}

.exampleList__example__kanji--highlighted {
	color: rgba(255, 255, 255, 0.9);
	&:hover {
		text-decoration: none;
		cursor: default;
	}
}

.exampleList__example--original {
	margin: 0;
}

.exampleList__example--translated {
	margin: 0;
	text-align: right;
}
